ul {
  padding-left: 10px;
  list-style-type: none;
}

ul li {
  word-break: break-all;
}

#media-list {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.media {
  vertical-align: top;
  width: 75%;
  min-width: 75%;
  max-width: 75%;
  display: none;
}
